<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.6.4" targetFramework="net461" />
  <package id="DotNetProjects.SVGImage" version="4.1.92" targetFramework="net461" />
  <package id="libphonenumber-csharp" version="8.12.19" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.9.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.9.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.9.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.2" targetFramework="net461" />
  <package id="mixpanel-csharp" version="5.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SharpVectors" version="1.7.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.9.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>